:root{
  --main60:#0A3981;
  --main30: #1F509A;
  --main10:#D4EBF8;
  --callToAction:#E38E49;
}
body {
  font-family: 'Fira Code', monospace;
}
.app {
  width: 100vw;
  height: calc(100vh - 80px);
  left: 0;
  top: 80px;
  position: flex;
  z-index: 0;
  background-color: var(--main60);
}


@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text {
  display: inline;
  font-family: system-ui;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.instructions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: var(--main10);
}

.centered input,
.centered button {
  margin: 10px;
}
.development {
  color: #404b5a;
  text-transform: capitalize;
}

.production {
  color: #5d39bb;
  text-transform: capitalize;
}
p {
  font-size: 1rem !important;
}
a {
  text-decoration: underline;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.flex-horizontal{
  display: flex;
  flex-direction: row;
}

.flex-vertical{
  display: flex;
  flex-direction: column;
}

.gap-12px{
  gap:12px;
}

.gap-4px{
  gap:4px;
}

.description {
  font-weight: 250;
  width: 350px;
  margin-bottom: 6px;
}

.main {
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding-top: 4rem;
}

.header {
  display: flex;
  background-color: var(--main30);
  width: 100%;
  height: 80px;
  padding: 21px 50px 21px 49px;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui;
  z-index: 1;
  position: relative;
  font-size: 14px;
}
.theJoke{
  display: flex;
  width: 80vw;
  justify-content: center;
  align-items: center;  
  gap: 16px;
  height: 60vh;
  background-color: var(--main10);
}

.header-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  color: #000 !important;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
}

.title {
  font-size: 24px;
  padding: 10px;
}

